* {
    box-sizing: border-box;
}

body {
    height: 2000px;
}

.my-element {
    width: 500px;
    height: 500px;
    padding: 20px;
    border: 5px solid #3498db;

    display: flex;
    flex-direction: row;
    align-items: stretch;
  
}

.children {
    width: 50px;
    flex: 1;
    border: 1px solid black;

}
